$background-primary: #171717;
$background-secondary: #333237;

$text-logo: #47b5ff;
$text-primary: #ededed;
$text-secondary: #eeeeee;
$text-footer: #7f8487;

$button-background: #e2434b;

$error: #ec4646;
$success: #54b435;
